argparse
dnspython
requests
tldextract
termcolor
dicttoxml
jsonrpclib
lxml
mechanize
slowaes
xlsxwriter
olefile
pypdf2
flask
unicodecsv
safeurl
tornado
jsbeautifier
netaddr
pycurl
beautifulsoup4
coloredlogs